/*list of fonts used on site*/

.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

/*styling applied to logo, paragraphs and headers consistently used throughout site*/

.logo {
  width: 200px;
  height: 191px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {  text-align: center; color:#d69c15; font-family: 'libre baskerville'; font-style: italic; font-size: 72px; }
h3 {  text-align: center; color: #fdc236; font-family: 'cinzel decorative'; font-weight: 700; font-size: 45px}
h5 {  text-align: center; color:#d69c15; font-family: 'rye'; font-size: 45px;  text-shadow: #FBE1A4 4px 4px 10px;}
p {text-align: center; color: #FBE1A4; font-family: 'raleway'; font-size: 20px}

/*page formating*/

.tophalf {
  background: linear-gradient(45deg, black, 75%, gold);
  padding-bottom: 10px;
  display: flex;
}
.header p{
padding: 0px 20px;
}


body {
  background-color: black;
}
.header {
  width: 1020px;
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  
}

/*Navigation formating*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

}
.nav-link {
  display: inline-flex;
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  border: 10px solid transparent;
    border-image: url(./images/buttonborder2.png) 20%;
    border-image-width: 20px;
}

.navbarbtn {
  padding:0px 10px;
  font-size: 16px;
  background-color: black;
  color: #FBE1A4;
  border: none;
}

.dropdown {
  visibility: hidden;
}
/*Media Queries for Nav Bar and CSS styling adjustments*/
@media (max-width: 1199px) {
  .navbar{
    visibility: hidden;
  }
  
  .dropdown {
    visibility: visible;
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #eeb63d;
    color: rgb(71, 70, 70);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #694b08d2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(253, 188, 104);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .show {display:block}
  
}

@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 16px;
  }
  .logo {
    width: 150px;
    height: 141px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Content on bottom half of site for each page*/

.bottomhalf {
    /* background-color: black; */
    background-image: conic-gradient(at top, black 120deg, yellow 180deg, black 240deg);
    margin-top: 10px;
  }